{# Template should be initialized with data environment variable:

  data = Database object (of PyDBML)

  For available attributes refer to https://github.com/Vanderhoof/PyDBML
#}
{%- macro render_table_ref(ref, col) -%}
{%- for ref_col in ref.col1 -%}
    {%- if ref_col == col %} [{{ ref.table2.name}}](#{{ref.table2.name.lower()}}).(
        {%- for rr_col in ref.col2 %}{% if loop.index > 1 %}, {% endif%}{{ rr_col.name }}{% endfor -%}
    ){%- endif -%}
  {%- endfor -%} {# {% for ref_col in ref.col -%} #}
{%- for ref_col in ref.col2 -%}
    {%- if ref_col == col %} [{{ ref.table1.name}}](#{{ref.table1.name.lower()}}).(
        {%- for rr_col in ref.col1 %}{% if loop.index > 1 %}, {% endif%}{{ rr_col.name }}{% endfor -%}
    ){%- endif -%}
  {%- endfor -%} {# {% for ref_col in ref.col -%} #}
{%- endmacro -%}

{%- macro render_table(table, db) -%}
## {{ table.name }}

{% set refs = {} %}
{% for r in table.get_references_for_sql() %}
    {%  set _ = refs.setdefault(r.col2[0].name if r.type == '<' else r.col1[0].name, []).append(r) %}
{%  endfor %}

```sql
{{ table.sql }}
```

{{ table.note or table.comment or '' }}

column | properties | type | descr | fkey
------ | -------- | ---- | ----- | ----
{% for col in table -%}
{% if col.pk %}**{{ col.name }}**{% else %}{{ col.name }}{% endif %} |
    {%- if col.not_null %} `NOT NULL` {% endif %}
    {%- if col.unique %} `UNIQUE` {% endif %}
    {%- if col.autoinc %} `AUTOINCREMENT` {% endif %}
    {%- if col.pk %} `PRIMARY KEY` {% endif %} |
{%- if col.type.__class__.__name__ == 'EnumType' %} [{{ col.type.name }}](#{{ col.type.name.lower() }})
{%- else %} {{ col.type }}
{%- endif %} | {{ col.note or col.comment or '' }} |
  {%- for ref in refs.get(col.name, []) -%}
    {{ render_table_ref(ref, col) }}
  {%- endfor -%} {# {%- for ref in db.refs -%} #}
{% endfor %} {# {% for col in table -%} #}
{%- endmacro -%}

{% macro render_enum(enum) %}

## {{ enum.name }}

```sql
{{ enum.sql }}
```

option | descr
------ | -----
{% for item in enum -%}
{{ item }} | {{ item.note or item.comment or '' }}
{% endfor %} {# {% for item in enum -%} #}

{% endmacro %}

# Tables

{% for table in data.tables %}
{{ render_table(table, data) }}
{% endfor %} {# {% for table in data.tables %} #}


{% if data.enums %}
# Types

{% for enum in data.enums %}
{{ render_enum(enum) }}
{% endfor %} {# {% for enum in data.enums %} #}
{% endif %} {# {% if data.enums %} #}
