{# Template should be initialized with data environment variable:

  data = Database object (of PyDBML)

  For available attributes refer to https://github.com/Vanderhoof/PyDBML
#}

# Database Scheme

<plantuml>
@startuml
{% for table in data.tables %}
    object {{ table.name }} {
{% for column in table -%}
{{ column.name|indent(8) }} [{{ column.type }}]
{% endfor %}{# {% for column in table %} #}
    }
{% endfor %}{# {% for table in tables %} #}

{% for table in data.tables -%}
{% for ref in table.get_refs() -%}
{{ table.name|indent }} --> {{ ref.table2.name }} : {% for c in ref.col2 %}
    {%- if loop.index > 1 %}, {% endif%}{{c.name}}
{%- endfor %}{# {% for c in ref.col %} #}
{% endfor -%}{# {% for ref in table.refs -%} #}
{%- endfor -%}{# {% for table in tables -%} #}
    @enduml
</plantuml>
